/*Section for the body of the doc*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
/*Section for the index page*/
.bg{
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this value based on how much of the viewport you want the image to cover */
    overflow: hidden;
}
.bg img{
    width: 100%;
    height: auto;
    object-fit: cover; /* This ensures the image covers the container without distorting its aspect ratio */
    filter: blur(1.5px);
    transition: filter 0.3s ease-in-out;
}
.bg img:hover{
    filter: blur(0);
}
.bgText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0px);
    color: aliceblue;
}
.whiteLine{
    width: 100vw;
    height: 15px;
    background-color: white;

}

/*Section for the navbar*/ 
nav{ /*block of the navbar*/
    display: flex;
    z-index: 1000;
    gap:15px;
    justify-content: center;
    background-color: transparent;
    color: white;
    height: 50px;
    padding: 0 10px;
    font-size: larger;
    text-align: center;
    line-height: 50px;
    width : 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease-in-out;
}
nav div{ /* text of the navbar*/
    margin-right: 10px;
}
nav :link{
    color: white;
    text-decoration: none;
}
nav :visited{
    color: white;
    text-decoration: none;
}
nav:hover{
    background-color: #152e68;
}
#flag{
    position: fixed;
    height: 25px;
    top:10px;
    left:10px;
}
#EUmapFI{
    width: 35%;
}

#discover-content{
    display: block;
    opacity: 0;
    z-index: 10000;
    transition: opacity 0.3s ease-in-out;
}
#discover:hover #discover-content{
    opacity: 1;
}

#toFI-content{
    display: block;
    opacity: 0;
    z-index: 10000;
    transition: opacity 0.3s ease-in-out;

}
#toFI:hover #toFI-content{
    opacity: 1;
}
.menu{
    width:150px;
}
.submenu{
    background-color:  #152e68;
    margin-left: 20px;
}
.submenu:hover{
    background-color: #1f4294;
}

.content{
    margin-top: 80px;
    text-align: center;
}

/*Section for Map*/
/*to use the path i need to give them IDs independently and then use CSS to do what I want with them*/
svg .region{
    fill:#6EA1DB;
}
svg .region:hover{
    fill:#577eaa;
}
#map{
    text-align: center;
}
#desc{
    margin-top: 150px;
    text-align: center;
}
#regiondesc{
    margin-left: 20px;
}